/* Define a base de fonte para todo o documento */
html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /* 1rem = 16px */
}

body {
    margin: 0;
    padding: 0;
}



.txts {
    width: 43.75rem;
    font-size: 2.27rem;
    line-height: 60%;
}

.sub-txts {
    font-size: 1.25rem;
    width: 42rem; /* esse sim modifica o leaut inteiro se for aumentado e sem sei o porque */
}

#article-Imagem {
    background-image: url(/img/bannerArticle.svg);
    background-repeat: no-repeat;
    height: 26rem;
    position: relative;
    right: 20px;

}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 97.9%; /* so serve para aumentar o nav e quebrar o leaut*/
    height: 60px;
}

main {
    background-color: darkolivegreen;
}

#article-content {
    background-color: chocolate;
}


#posts-Article {
    background-color: brown;
}

section {
    display: grid;
    grid-template-columns: 48.8% 48.8%;
    gap: 20px;
}

#figure-Section-Article {
    background-color: darkgreen;

    margin-top: 10px;
}

figure {
    max-width: 0;
    padding: 0;
    margin: 0;
    background-color: blue;
}

#iao {
    border-radius: 16px;

    width: 360px;
}

.txts-stile {
    color: #616161;

}
/* terminar de arrumar a margem, e arrumar o top ou 
o button do primeiro p, e ver oque acontece, se eu colocar o tamanhos
dos textos que estao no figma, nos h1 */
.mrg-top {

    margin-top: 0;
    margin-bottom: 10px;
}

.lor-txt {

font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;

}