/* Define a base de fonte para todo o documento */
html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /* 1rem = 16px */
}

body {
    margin: 0;
    padding: 0;
}

.txts {
    width: 43.75rem;
    font-size: 2.27rem;
    line-height: 60%;
}

.sub-txts {
    font-weight: 700px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

#article-Imagem {
    background-image: url(/img/bannerArticle.svg);
    background-repeat: no-repeat;
    height: 26rem;
    position: relative;
    right: 20px;
}

#post-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 97.9%; /* so serve para aumentar o nav e quebrar o leaut*/
    height: 60px;
}

#figure-Section-Article {
    display: grid;
    grid-template-columns: 48.8% 48.8%;
    gap: 20px;
    margin-top: 10px;
}

figure {
    max-width: 0;
    padding: 0;
    margin: 0;
    background-color: blue;
}

#posts {
    border-radius: 16px;
    width: 360px;
}

.txts-stile {
    margin-top: 0.3rem;
    color: #616161;
}

.txts-stile-pst-pplrs {
    font-weight: 500;
    font-size: 12px;
    margin-top: 0.6rem;
    color: #616161;
}

.clr-v {
    color: #02a28f;
}

.txts-posts {
    margin-top: 0;
    margin-bottom: 10px;
}

.tipo-txt-posts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lors-txt {
    font-weight: 400;
    font-size: 14px;
}

.h1-sidebar {
    padding: 16px 24px 16px 24px;
    margin: 10px 0 0 0;
}

.txts-post-populares {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    margin: 2px 0 0 0;
}
.posts-populares {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    padding-left: 0.9rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}

#categoria-conteiner {
    margin-top: 1.7rem;
}

ul {
    padding-left: 10px;
}

ul li::marker {
    content: ">";
}

li {
    display: flex;
    /*o padding da espaço entre a seta e a letra*/
    padding-left: 5px;
    list-style: none;
}

span {
    /*o padding da espaço entre a letra e o span, porem 
    tem que definir um por um
    */
    padding-left: 17.3rem;
}

/* eu estou pensando em criar uma div contendo a palavra + span, e adicionar o flex */