/* Define a base de fonte para todo o documento */
html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /* 1rem = 16px */
}

body {
    margin: 0;
    padding: 0;
}



.txts {
    width: 43.75rem;
    font-size: 2.27rem;
    line-height: 60%;
}

#article-Imagem {
    background-image: url(/img/bannerArticle.svg);
    background-repeat: no-repeat;
    height: 26rem;
}